.full-width-link {
  width: 100%;
  text-align: center;
  padding: 0;
}

.full-width-link__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 48px;
  color: $primary;
  text-decoration: none;

  @include apply-styles($mobile-button-big);

  width: 100%;
  cursor: pointer;
  gap: 6px;
  transition: color 0.3s $smooth;

  &:hover {
    color: rgba(2, 102, 193, 0.1);
  }

  &:focus-visible {
    color: #0266c1;
    outline: none;
  }

  &:active {
    color: $active;
  }

  &:disabled {
    color: $disabled;
    pointer-events: none;
    cursor: auto;
  }

  &--disabled {
    color: $disabled;
    pointer-events: none;
    cursor: auto;
  }
}

.full-width-link__link:hover .full-width-link__content::before {
  background: rgba(2, 102, 193, 0.1);
}

.full-width-link__link:focus-visible .full-width-link__content::before {
  background: #0266c1;
}

.full-width-link__link:active .full-width-link__content::before {
  background: $active;
}

.full-width-link__link:disabled .full-width-link__content::before {
  background: $disabled;
}

.full-width-link__link--disabled .full-width-link__content::before {
  background: $disabled;
}

.full-width-link__arrow {
  display: inline-block;
  position: relative;
  width: 6px;
  height: 12px;
  margin: 0 0 0 6px;
  left: -2px;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 12px;
  //   height: 12px;
  //   left: 0;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   background: $primary;
  //   mask: url("/__spritemap#sprite-arrow-right-view") center center no-repeat;
  //   transition: background 0.3s $smooth;
  // }
}

.full-width-link__content {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    right: -23px;
    top: 50%;
    transform: translateY(-50%);
    background: $primary;
    mask: url("/__spritemap#sprite-arrow-right-view") center center no-repeat;
    transition: background 0.3s $smooth;
  }
}

@media #{$not-mobile} {
  .full-width-link__link {
    @include apply-styles($tablet-button-big);
    position: relative;
    left: -9px;
    top: 1px;
  }
}

@media #{$desktop-only} {
  .full-width-link__link {
    @include apply-styles($desktop-button-big);
  }
}

