.process {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  gap: 25px;
}

.process__title {
  @include apply-styles($mobile-h5);

  word-break: break-word;

  margin: 0;
}

.process__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 2px;
    height: calc(100% - 36px);
    top: 18px;
    left: 6px;
    background-color: #0266c1;
  }
}

.process__item {
  @include apply-styles($mobile-text-small);

  padding: 0 0 0 63px;
  max-width: 274px;
  position: relative;
  word-break: break-word;

  &--obstacles {
    padding: 0 10px 0 63px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: #0266c1;
    border-radius: 50%;
    left: 0;
    top: 11px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    left: 29px;
    top: 0;
    background: $primary;
  }

  &--direction::after {
    background: url("/__spritemap#sprite-map-view") center center no-repeat;
  }

  &--gear::after {
    mask: url("/__spritemap#sprite-boots-view") center center no-repeat;
  }

  &--environment::after {
    background: url("/__spritemap#sprite-forest-view") center center no-repeat;
  }

  &--obstacles::after {
    background: url("/__spritemap#sprite-mountain-view") center center no-repeat;
  }
}


@media #{$not-mobile} {
  .process {
    gap: 102px;
  }


  .process__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 104px 134px;
    width: 678px;

    &::before {
      background: transparent;
    }
  }

  .process__item {
    @include apply-styles($tablet-text-small);

    min-width: 232px;
    max-width: 272px;
    padding: 0 10px 0 35px;

    &::before {
      background: transparent;
    }

    &::after {
      left: 0;
      top: 2px;
    }

    &--gear {
      order: 3;
    }

    &--obstacles {
      order: 2;
    }

    &--environment {
      order: 4;
    }
  }

  .process__title {
    @include apply-styles($tablet-h5);
  }
}

@media #{$desktop-only} {
  .process {
    gap: 23px;
  }

  .process__title {
    margin: 36px 0 0;

    @include apply-styles($desktop-h5);
  }

  .process__list {
    display: flex;
    width: 100%;
    gap: 0;

    &::before {
      background: #0266c1;
      height: 2px;
      width: calc(100% - 34px);
      left: 34px;
      top: unset;
      bottom: -11px;
    }
  }

  .process__item {
    @include apply-styles($desktop-text-regular);

    max-width: 253px;
    padding: 5px 5px 0 45px;

    &::after {
      left: 11px;
      top: 8px;
    }

    &--direction {
      order: -1;
    }

    &--gear {
      order: 0;
    }

    &--obstacles {
      order: 4;
    }

    &::before {
      background: #0266c1;
      bottom: -17px;
      left: 20px;
      top: unset;
    }
  }

  .process__item--environment {
    &::before {
      left: 0;
    }
  }
}
