.tours-slide__picture-wrapper {
  position: absolute;
  z-index: -1;
  width: min-content;
  height: min-content;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 60%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0) 60%);
  }
}

.tours-slide__content-wrapper {
  padding: 30px 20px;
  display: flex;
  flex-flow: wrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  z-index: 2;
  position: relative;
  overflow-y: auto;
}

.tours-slide__content-wrapper::-webkit-scrollbar {
  width: 6px;
}

.tours-slide__content-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.tours-slide__content-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
}

.tours-slide__content-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


.tours-slide__header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  height: min-content;
  gap: 12px 5px;
}

.tours-slide__location {
  min-height: 28px;
  background-color: #0266c1;
  padding: 8px 12px 8px 34px;
  position: relative;
  max-width: 90px;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: $white;
    mask: url("/__spritemap#sprite-marker-view") center center no-repeat;
  }
}

.tours-slide__location-text {
  margin: 0;
  @include apply-styles($tablet-caption-medium);
}

.tours-slide__duration-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  gap: 14px;
  min-width: 155px;
  justify-content: space-between;
}

.tours-slide__duration-item {
  min-width: 67px;
  padding: 4px 0 4px 32px;
  // padding: 4px 0 4px 22px;
  @include apply-styles($tablet-caption-medium);
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: $white;
  }

  &--days::before {
    mask: url("/__spritemap#sprite-sun-view") center center no-repeat;
  }

  &--nights::before {
    mask: url("/__spritemap#sprite-moon-card-view") center center no-repeat;
  }
}

.tours__slide-title {
  @include apply-styles($desktop-h4);
  margin: 0;
  max-width: 250px;
  height: min-content;
  display: flex;
  align-items: flex-end;
  flex-flow: wrap;
}

.tours-slide__info-list {
  display: flex;
  flex-flow: wrap;
  align-items: flex-end;
  margin: 16px 0 0 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
  justify-content: space-between;
  position: relative;
  max-width: 250px;
  height: min-content;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 80px;
    height: 1px;
    opacity: 20%;
    background-color: $white;
    top: -15px;
  }
}

.tours-slide__info-item {
  display: flex;
  min-width: min-content;
  flex: 1;
  flex-shrink: 1;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  max-width: 84px;

  &--wider {
    min-width: 83px;
  }
}

.tours-slide__info-heading {
  margin: 0;
  @include apply-styles($tablet-caption-small);
}

.tours-slide__rating {
  min-width: 84px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 1px;
}

.tours-slide__star {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: $white;
    mask: url("/__spritemap#sprite-star-filled-view") center center no-repeat;
  }

  &--empty::before {
    mask: url("/__spritemap#sprite-star-empty-view") center center no-repeat;
  }
}

.tours-slide__info-description {
  margin: 7px 0 0 0;
  @include apply-styles($tablet-caption-big);
  margin: 3px 0 0 0;
}

@media #{$not-mobile} {
  .tours-slide__info-list {
    max-width: 290px;
    width: 100%;
    justify-content: space-between;
  }

  .tours-slide__info-item {
   max-width: min-content;
  }

  .tours-slide__duration-list {
    max-width: 180px;
  }

  .tours-slide__header {
    justify-content: space-between;
    width: 100%;
    max-width: 290px;
    gap: 0;
  }
}

@media #{$desktop-only} {
  .tours-slide__header {
    justify-content: space-between;
    width: 100%;
    max-width: 340px;
    gap: 0;
  }

  .tours-slide__info-list {
    // column-gap: 52px;
    max-width: 340px;
  }
}
