.button {
  min-width: 180px;
  max-width: 290px;
  padding: 19px;
  background-color: $additional;
  border: solid 1px transparent;

  @include apply-styles($desktop-button-input-regular);

  color: $white;
  cursor: pointer;
  transition: background 0.3s $smooth, color 0.3s $smooth, border 0.3s $smooth;

  &:hover {
    background-color: $white;
    color: $active;
    border-color: $active;
  }

  &:focus-visible {
    background-color: $white;
    color: $active;
    border-color: $white;
    outline: none;
  }

  &:active {
    background-color: $active;
    color: $white;
    border-color: $active;
  }

  &--disabled {
    background-color: $disabled;
    color: $white;
    border-color: $disabled;
    pointer-events: none;
    cursor: auto;
  }

  &:disabled {
    background-color: $disabled;
    color: $white;
    border-color: $disabled;
    pointer-events: none;
    cursor: auto;
  }
}
