.form {
  min-height: 638px;
  color: $white;
}

.form__wrapper {
  display: flex;
  flex-flow: wrap column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 320px;
  min-height: 638px;
  background:
  image-set(
    url("../../../img/form/forest-mobile@1x.webp") type("image/webp") 1x,
    url("../../../img/form/forest-mobile@2x.webp") type("image/webp") 2x,
    url("../../../img/form/forest-mobile@1x.png") type("image/png") 1x,
    url("../../../img/form/forest-mobile@2x.png") type("image/png") 2x
);
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: left;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.form__content-wrapper {
  display: flex;
  align-items: flex-start;
  flex-flow: wrap;
  gap: 20px;
  width: 258px;
  text-align: center;
  h2 {
    @include apply-styles($mobile-h3);
    margin: 0;
    width: 100%;
  }

  p {
    @include apply-styles($mobile-text-small);
    margin: 0;
  }
}

.form__form-field {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 258px;
  gap: 8px;
}

.form__input-wrapper {
  position: relative;
  width: 100%;
}

.form__label {
  position: absolute;
  @include apply-styles($desktop-button-input-regular);
  color: $primary;
  opacity: 0.5;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.form__input {
  min-height: 50px;
  width: 100%;
  padding: 13px 15px;
  font-family: inherit;
  @include apply-styles($desktop-button-input-regular);
  border: solid 1px #0266C11A;
  transition: border 0.3s $smooth;
  border-radius: 2px;
  color: rgb(45, 56, 63, 0.5);
}

.form__input:hover {
  border-color: #0266C1;
}

.form__input:focus {
  border-color: $primary;
  outline: none;
}

.form__input--invalid {
  border-color: #FF121F;
}

.form__input:disabled {
  color: $disabled;
  border-color: $disabled;
  background: $white;
}

.form__input::placeholder {
  opacity: 0;
  color: $primary;
}

.form__input:focus::placeholder {
  opacity: 0.5;
}

.form__label {
  opacity: 0.5;
}

.form__input:focus ~ .form__label {
  opacity: 0;
}

.form__submit-button {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  min-height: 50px;
  padding: 5px 10px;
}

@media #{$not-mobile} {
  .form {
    min-height: 680px;
}

.form__content-wrapper {
  gap: 25px;
  width: 360px;
  h2 {
    @include apply-styles($tablet-h3);
  }

  p {
    @include apply-styles($tablet-text-regular);
    margin: 0;
  }
}

.form__wrapper {
  width: 768px;
  min-height: 680px;
  gap: 25px;
  background:
  image-set(
    url("../../../img/form/forest-tablet@1x.webp") type("image/webp") 1x,
    url("../../../img/form/forest-tablet@2x.webp") type("image/webp") 2x,
    url("../../../img/form/forest-tablet@1x.png") type("image/png") 1x,
    url("../../../img/form/forest-tablet@2x.png") type("image/png") 2x
    );
    background-color: rgba(0, 0, 0, 0.2);
  }

  .form__label {
    left: 30px;
  }

  .form__input {
    min-height: 56px;
    width: 100%;
    padding: 15px 30px;
    font-family: inherit;
    @include apply-styles($desktop-button-input-regular);
  }


  .form__form-field {
    width: 360px;
    gap: 11px;
  }

  .form__submit-button {
    min-width: 360px;
    min-height: 56px;
  }
}


@media #{$desktop-only} {
  .form {
    min-height: 760px;
  }

  .form__content-wrapper {
    gap: 20px;
    width: 1360px;
    h2 {
      @include apply-styles($desktop-h3);
    }

    p {
      @include apply-styles($desktop-text-regular);
      margin: 0;
      width: 100%;
    }
  }

  .form__wrapper {
    width: 1440px;
    min-height: 760px;
    background:
    image-set(
      url("../../../img/form/forest-desktop@1x.webp") type("image/webp") 1x,
      url("../../../img/form/forest-desktop@2x.webp") type("image/webp") 2x,
      url("../../../img/form/forest-desktop@1x.png") type("image/png") 1x,
      url("../../../img/form/forest-desktop@2x.png") type("image/png") 2x
  );
  background-color: rgba(0, 0, 0, 0.2);
  }

  .form__input {
    width: 360px;
  }

  .form__form-field {
    width: 960px;
    gap: 30px;
    flex-flow: row;
  }

  .form__submit-button {
    min-width: 180px;
    width: 180px;
  }
}
