.form {
  min-height: 638px;
  color: $white;
}

.form__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  justify-items: center;
  gap: 20px;
  align-items: start;
  padding: 176px 0 20px;
  width: 320px;
  height: 638px;
  overflow-y: auto;
  overflow-x: clip;
  background:
    image-set(
      url("../../../img/form/forest-mobile@1x.webp") type("image/webp") 1x,
      url("../../../img/form/forest-mobile@2x.webp") type("image/webp") 2x,
      url("../../../img/form/forest-mobile@1x.png") type("image/png") 1x,
      url("../../../img/form/forest-mobile@2x.png") type("image/png") 2x
    );
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: left;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

.form__wrapper::-webkit-scrollbar {
  width: 6px;
}

.form__wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.form__wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
}

.form__wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.form__content-wrapper {
  display: flex;
  align-items: flex-start;
  flex-flow: wrap;
  gap: 17px;
  width: 258px;
  text-align: center;
  position: relative;
  top: 1px;

  h2 {
    @include apply-styles($mobile-h3);

    margin: 0;
    width: 100%;
  }

  p {
    @include apply-styles($mobile-text-small);

    margin: 0 auto;
  }
}

.form__form-field {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 258px;
  gap: 8px;
  position: relative;
  top: 1px;
}

.form__input-wrapper {
  position: relative;
  width: 100%;
}

.form__label {
  position: absolute;

  @include apply-styles($desktop-button-input-regular);
  overflow-y: auto;
  overflow-x: clip;
  height: 50px;
  display: flex;
  align-items: center;
  color: $primary;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  opacity: 0.5;
}

.form__input {
  height: 50px;
  width: 100%;
  padding: 13px 15px;
  font-family: inherit;

  @include apply-styles($desktop-button-input-regular);

  border: solid 1px rgba(2, 102, 193, 0.1);
  transition: border 0.3s $smooth;
  border-radius: 2px;
  color: rgb(45, 56, 63, 0.5);
}

.form__input:hover {
  border-color: #0266c1;
}

.form__input:focus {
  border-color: $primary;
  outline: none;
}

.form__input--invalid {
  border-color: #ff121f;
}

.form__input:disabled {
  color: $disabled;
  border-color: $disabled;
  background: $white;
}

.form__input::placeholder {
  opacity: 0;
  color: $primary;
}

.form__input:focus::placeholder {
  opacity: 0.5;
}

.form__input:focus ~ .form__label {
  opacity: 0;
  pointer-events: none;
}

.form__submit-button {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  min-height: 58px;
  padding: 5px 10px;
}

.form__submit-button-text {
  position: relative;
  top: 1px;
}

@media #{$not-mobile} {
  .form {
    min-height: 680px;
  }

  .form__content-wrapper {
    gap: 25px;
    width: 360px;
    top: 10px;

    h2 {
      @include apply-styles($tablet-h3);
    }

    p {
      position: relative;
      top: -1px;

      @include apply-styles($tablet-text-regular);

      margin: 0;
    }

    br {
      display: none;
    }
  }

  .form__wrapper {
    width: 768px;
    min-height: 680px;
    padding: 176px 40px;
    gap: 22px;
    background:
      image-set(
        url("../../../img/form/forest-tablet@1x.webp") type("image/webp") 1x,
        url("../../../img/form/forest-tablet@2x.webp") type("image/webp") 2x,
        url("../../../img/form/forest-tablet@1x.png") type("image/png") 1x,
        url("../../../img/form/forest-tablet@2x.png") type("image/png") 2x
      );
    background-color: rgba(0, 0, 0, 0.2);
  }

  .form__label {
    left: 30px;
    height: 56px;
  }

  .form__input {
    height: 56px;
    width: 100%;
    padding: 15px 30px;
    font-family: inherit;

    @include apply-styles($desktop-button-input-regular);
  }


  .form__form-field {
    width: 360px;
    gap: 11px;
    top: 10px;
  }

  .form__submit-button {
    min-width: 360px;
    min-height: 56px;
  }
}


@media #{$desktop-only} {
  .form {
    min-height: 760px;
  }

  .form__content-wrapper {
    gap: 20px;
    width: 1360px;

    h2 {
      @include apply-styles($desktop-h3);
    }

    p {
      @include apply-styles($desktop-text-regular);

      margin: 0;
      width: 100%;
    }
  }

  .form__wrapper {
    width: 1440px;
    min-height: 760px;
    padding: 286px 0 60px;
    gap: 36px;
    background:
      image-set(
        url("../../../img/form/forest-desktop@1x.webp") type("image/webp") 1x,
        url("../../../img/form/forest-desktop@2x.webp") type("image/webp") 2x,
        url("../../../img/form/forest-desktop@1x.png") type("image/png") 1x,
        url("../../../img/form/forest-desktop@2x.png") type("image/png") 2x
      );
    background-color: rgba(0, 0, 0, 0.2);
  }

  .form__input {
    width: 360px;
  }

  .form__form-field {
    width: 960px;
    gap: 30px;
    flex-flow: row;
  }

  .form__submit-button {
    min-width: 180px;
    width: 180px;
  }
}
