.burger-button {
 height: 26px;
 width: 26px;
 background: transparent;
 border: none;
 cursor: pointer;
 display: flex;
 align-items: center;
 flex-flow: wrap;
 position: relative;

 &::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 2px;
  background-color: $white;
  left: 0;
  top: 3.5px;
 }

 &::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 2px;
  background-color: $white;
  left: 0;
  bottom: 3.5px;
 }
}

.burger-button__contents {
  height: 2px;
  width: 16px;
  background-color: $white;
  transition: transform 0.3s $smooth;
  position: absolute;
  top: 50%;
  left: 0;
}

.burger-button--is-open {
  &::before {
    animation: rotate-lines 0.3s forwards;
   }
  &::after {
    animation: rotate-lines-reverse 0.3s forwards;
   }
}
.burger-button--is-open .burger-button__contents {
  transform: scaleX(0);
  transform-origin: right;
}

@keyframes rotate-lines {
  0% {
    transform: scaleX(1);
    transform-origin: left top;
    top: 3.5px;
  }

  50% {
    transform: scaleX(0);
    transform-origin: left top;
    top: 3.5px;
  }

  60% {
    transform: translate(-50%, -50%) scaleX(0);
    top: 50%;
    left: 50%;
  }

  70% {
    transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
    transform-origin: center;
    top: 50%;
    left: 50%;
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
    transform-origin: center;
    top: 50%;
    left: 50%;
  }
}

@keyframes rotate-lines-reverse {
  0% {
    transform: scaleX(1);
    transform-origin: left bottom;
    bottom: 3.5px;
  }

  50% {
    transform: scaleX(0);
    transform-origin: left bottom;
    bottom: 3.5px;
  }

  60% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0);
  }

  70% {
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
    transform-origin: center;
    top: 50%;
    left: 50%;
  }

  100% {
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
    transform-origin: center;
    top: 50%;
    left: 50%;
  }
}

.burger-button--is-closed {
  &::before {
    animation: rotate-lines-close 0.3s forwards;
   }
  &::after {
    animation: rotate-lines-reverse-close 0.3s forwards;
   }
}

.burger-button--is-closed .burger-button__contents {
  transform: scaleX(1);
  transform-origin: right;
}

@keyframes rotate-lines-close {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
    transform-origin: center;
    top: 50%;
    left: 50%;
  }

  30% {
    transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
    transform-origin: center;
    top: 50%;
    left: 50%;
  }

  40% {
    transform: scaleX(0);
    transform-origin: left top;
    top: 50%;
    left: 0;
  }

  60% {
    transform: scaleX(0);
    transform-origin: left top;
    top: 3.5px;
    left: 0;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left top;
    top: 3.5px;
    left: 0;
  }
}


@keyframes rotate-lines-reverse-close {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
    transform-origin: center;
    top: 50%;
    left: 50%;
  }

  30% {
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
    transform-origin: center;
    top: 50%;
    left: 50%;
  }

  40% {
    transform: scaleX(0);
    transform-origin: left bottom;
    bottom: 50%;
    left: 0;
  }

  60% {
    transform: scaleX(0);
    transform-origin: left bottom;
    bottom: 3.5px;
    left: 0;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left bottom;
    bottom: 3.5px;
    left: 0;
  }
}

@media #{$desktop-only} {
  .burger-button {
    display: none;
  }
}
