.header-nav {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  order: 2;
  transition: max-height 0.3s $smooth, margin 0.3s $smooth;
  margin: 16px 0 0;

  &--is-open {
    max-height: 1000px;
  }
}

.header-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 5px;
  display: flex;
  flex-flow: column wrap;
  gap: 2px;
}

.header-nav__item {
  display: flex;
  align-items: flex-start;
  flex-flow: wrap;
}

.header-nav__link {
  color: $white;
  text-decoration: none;
  @include apply-styles($mobile-button-big);
  padding: 10px 0;
  position: relative;
  transition: color 0.3s $smooth;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: 1px;
    background-color: $white  ;
    left: -5px;
    bottom: 7px;
    transform: scaleX(0);
    transition: transform 0.3s $smooth;
    transform-origin: left;
  }

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: calc(100% - 14px);
    border: solid 1px $white;
    left: -5px;
    top: 7px;
    transform: scaleX(0);
    transition: transform 0.3s $smooth;
    transform-origin: left;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &:focus-visible::after {
    transform: scaleX(1);
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    color: $active;
  }

  &--disabled {
    color: $disabled;
    pointer-events: none;
    cursor: auto;
  }

  &:disabled {
    color: $disabled;
  }
}

@media #{$not-mobile} {
  .header-nav {
    margin: 0;
  }

  .header-nav__list {
    gap: 6px;
  }

  .header-nav__link {
    @include apply-styles($tablet-button-big);
  }
}

@media #{$desktop-only} {
  .header-nav {
    max-height: fit-content;
    min-height: 62px;
    display: flex;
    align-items: center;
    width: 838px;
  }

  .header-nav__list {
    width: 838px;
    display: flex;
    flex-flow: wrap;
    place-content: center;
    min-height: 62px;
    gap: 30px;
  }

  .header-nav__link {
    @include apply-styles($desktop-button-input-regular);
    text-transform: none;
    padding: 20px 0;

    &::before {
      position: absolute;
      content: "";
      width: calc(100% + 10px);
      height: 1px;
      background-color: $white  ;
      left: -5px;
      bottom: 17px;
      transform: scaleX(0);
      transition: transform 0.3s $smooth;
      transform-origin: left;
    }

    &::after {
      position: absolute;
      content: "";
      width: calc(100% + 10px);
      height: calc(100% - 34px);
      border: solid 1px $white;
      left: -5px;
      top: 17px;
      transform: scaleX(0);
      transition: transform 0.3s $smooth;
      transform-origin: left;
    }
  }
}
