.hero {
  min-height: 568px;
  background-color: #6f8aa5;
  position: relative;
  transition: background 0.3s $smooth;
}

// .hero__picture--first {
//   transform: translateZ(-1);
// }

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 56, 63, 0.6);
  z-index: 5;
  transition: opacity 0.3s $smooth;
  opacity: 0;
  pointer-events: none;
}

.hero.hero--menu-open .hero__overlay {
  opacity: 1;
}

.hero.hero--menu-open .hero__swiper {
  pointer-events: none;
}

.hero__swiper {
  width: 320px;
  height: 568px;
  overflow: hidden;
  color: $white;
}

.hero__slide {
  position: relative;
  z-index: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0 0 100px 0;
}

.hero__slide-content-wrapper {
  padding: 40px 15px 0 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 60px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.hero__slide-content-wrapper::-webkit-scrollbar {
  width: 6px;
}

.hero__slide-content-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.hero__slide-content-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
}

.hero__slide-content-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__slide-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  z-index: 2;

  b {
    display: block;

    @include apply-styles($mobile-h2);

    margin: 104.5px 0 0;
  }

  p {
    margin: 0;

    @include apply-styles($mobile-text-big);
  }
}

.hero__slide-offers {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hero__slide-offer {
  border: solid 1px rgba(255, 255, 255, 0.5);
  min-height: 44px;
  padding: 13px 20px 13px 40px;

  @include apply-styles($text-xsmal);

  position: relative;
  max-width: 200px;

  &::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: $white;
  }

  &--days::before {
    mask: url("/__spritemap#sprite-moon-view") center center no-repeat;
  }

  &--difficulty::before {
    mask: url("/__spritemap#sprite-level-view") center center no-repeat;
  }
}

.hero__slide-offer-content {
  margin: 0;
  line-height: 16px;
}

.hero__swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin: 0 0 30px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.swiper-horizontal > .swiper-pagination-bullets .hero__swiper-pagination-bullet {
  margin: 0;
  min-width: 36px;
}

.hero__swiper-pagination-bullet {
  width: 36px;
  height: 36px;
  opacity: 1;
  background-color: transparent;
  transition: background 0.3s $smooth;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: calc(16px + 4px);
    height: calc(16px + 4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: solid 1px rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s $smooth;
  }

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border: solid 1px $white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.3s $smooth;
  }

  &--active {
    background-color: transparent;
  }

  &--active::before {
    background-color: $white;
  }

  &:hover {
    background-color: transparent;
  }

  &:hover::before {
    background-color: #d9d9d9;
  }

  &:active::before {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    background-color: transparent;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    opacity: 1;
    outline: none;
  }
}

.hero__picture-wrapper {
  position: absolute;
  z-index: -1;
  width: min-content;
  height: min-content;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%);
  }
}

@media #{$not-mobile} {
  .hero {
    min-height: 1034px;
  }

  .hero__swiper {
    width: 768px;
    height: 1034px;
  }

  .hero__slide {
    gap: 35px;
  }

  .hero__swiper-pagination {
    height: 24px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .hero__swiper-pagination-bullet {
    min-width: 40px;
  }

  .hero__swiper-pagination-bullet {
    width: 40px;
    height: 40px;

    &::after {
      position: absolute;
      content: "";
      width: calc(20px + 4px);
      height: calc(20px + 4px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: solid 1px rgba(255, 255, 255, 0.5);
      opacity: 0;
      transition: opacity 0.3s $smooth;
    }

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      border: solid 1px $white;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background 0.3s $smooth;
    }
  }

  .hero__slide-content-wrapper {
    padding: 100px 45px;
    gap: 35px;
  }


  .hero__slide-content {
    margin: 142px 0 0;
    padding: 100px 0 0;

    b {
      @include apply-styles($tablet-h1);

      margin: 0;
      padding: 0 40px;
    }

    p {
      margin: 0;
      padding: 0 80px;

      @include apply-styles($tablet-text-big);
    }
  }
}

@media #{$desktop-only} {
  .hero {
    min-height: 800px;
  }

  .hero__swiper {
    width: 1440px;
    height: 800px;
  }

  .hero__slide {
    align-items: flex-start;
    padding: 0;
  }

  .hero__slide-content-wrapper {
    padding: 200px 420px 70px 120px;
    align-items: flex-start;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 500px;
    right: 90px;
    bottom: 50px;
    top: unset;
    left: unset;
    position: absolute;
  }

  .hero__swiper-pagination {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 44px;
    padding: 0 20px 0 0;
    right: 0;
    bottom: 20px;
    z-index: 30;
  }

  .hero__slide-content {
    text-align: left;
    width: 780px;
    margin: 0;
    display: flex;
    padding: 0;
    gap: 25px;

    b {
      @include apply-styles($desktop-h1);

      margin: 0;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0 360px 0 0;

      @include apply-styles($desktop-text-big);
    }
  }

  .hero__slide-offers {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    margin: auto 0 0;
    max-width: 420px;
    position: relative;
    top: -8px;
  }
}
