.about {
  padding: 20px 0;
  min-height: 947px;
}

.about__content-wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  gap: 26px;
  padding: 0 15px;

  div {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    gap: 13px;
  }

  h3 {
    @include apply-styles($mobile-h5);
    word-break: break-word;
    margin: 0;
  }

  p {
    @include apply-styles($mobile-text-regular);
    word-break: break-word;
    margin: 0;
  }
}

.about__content-wrapper h2 {
  @include apply-styles($mobile-h3);

  margin: 0;
  min-height: 55px;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  position: relative;
  width: 100%;
  word-break: break-word;

  &::before {
    position: absolute;
    content: attr(data-shadow);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -3px;
    color: $primary;
    opacity: 3%;
    word-break: break-word;

    @include apply-styles($mobile-h2);
  }
}

@media #{$not-mobile} {
  .about {
    padding: 40px 0;
    min-height: 742px;
  }

  .about__wrapper {
    display: grid;
    padding: 0 48px 0 0;
    grid-template-columns: 450px 270px;
  }

  .about__picture-wrapper {
    padding: 134px 0 0;
    position: relative;
    z-index: -1;
  }

  .about__content-wrapper {
    padding: 0;

    h2 {
      @include apply-styles($tablet-h3);

      margin: 0 0 11px;
      position: relative;
      top: 5px;

      &::before {
        @include apply-styles($tablet-h2);

        bottom: 1px;
        left: 0;
      }
    }

    h3 {
      @include apply-styles($tablet-h5);
    }

    div {
      gap: 13px;
    }

    p {
      @include apply-styles($tablet-text-regular);
    }
  }
}

@media #{$desktop-only} {
  .about {
    padding: 100px 0;
    min-height: 698px;
  }

  .about__wrapper {
    padding: 0 120px 0 0;
    grid-template-columns: 1fr 660px;
  }

  .about__picture-wrapper {
    padding: 0;
  }

  .about__content-wrapper {
    align-items: flex-start;
    flex-flow: wrap column;

    h2 {
      @include apply-styles($desktop-h3);

      margin: 30px 0;

      &::before {
        @include apply-styles($desktop-h2);

        bottom: 28px;
      }
    }

    h3 {
      @include apply-styles($desktop-h5);
      max-width: 582px;
    }

    div {
      padding: 0 90px 0 0;
      gap: 16px;
    }

    div:last-of-type {
      padding: 0 78px 0 0;
    }

    p {
      @include apply-styles($desktop-text-small);
      max-width: 582px;
    }
  }
}
