.bottom {
  min-height: 268px;
  padding: 2px 15px 10px;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  // position: relative;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 100vw;
  //   left: calc((100vw - 100%) / -2);
  //   height: 1px;
  //   background-color: $primary;
  //   top: -23px;
  //   opacity: 20%;
  // }
}

.bottom__phone {
  display: none;
}

.bottom__socials {
  margin: 0;
}

.bottom__policy {
  margin: auto 0 0;
}

.bottom__logo-link {
  transition: opacity 0.3s $smooth;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: calc(100%);
    border: solid 1px $primary;
    left: -5px;
    top: 0;
    transform: scaleX(0);
    transition: transform 0.3s $smooth;
    transform-origin: left;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    transform: scaleX(1);
  }
}

@media #{$not-mobile} {
  .bottom {
    min-height: 186px;
    padding: 0 45px 20px;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 24px;

    // &::before {
    //   top: -35px;
    // }
  }
}

@media #{$desktop-only} {
  .bottom {
    min-height: 210px;
    padding: 32px 120px;
    gap: 17px;

    // &::before {
    //   top: 0;
    // }
  }

  .bottom__phone {
    display: block;
    color: $primary;

    @include apply-styles($desktop-h6);

    text-decoration: none;
    padding: 21px 0;
    transition: color 0.3s $smooth;

    &:hover {
      color: rgba(2, 102, 193, 0.1);
    }

    &:focus-visible {
      color: $additional;
      outline: none;
    }

    &:active {
      color: $active;
    }

    &--disabled {
      color: $disabled;
      pointer-events: none;
      cursor: auto;
    }

    &:disabled {
      color: $disabled;
    }
  }

  .bottom__logo-wrapper {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 0 0 29px;
  }

  .bottom__socials {
    margin: 5px 0 0;
  }

  .bottom__logo-link {
    padding: 9px 0;
  }
}
