.contacts {
  min-height: 816px;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  gap: 30px;
  padding: 16px 0 20px 0;
}

.contacts__info-wrapper {
  padding: 0 15px 0 15px;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  gap: 30px;
  max-width: 320px;
}

.contacts__title  {
  margin: 0;
}

.contacts__content-wrapper {
  p {
    margin: 0;
    @include apply-styles($mobile-text-regular);
  }
}

.contacts__contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  gap: 30px;
}

.contacts__contacts-list-item {
  min-height: 42px;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  gap: 8px;
  padding: 0 100px 0 32px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    left: 0;
    background-color: #2D383F;
  }

  &--phone::before {
    mask: url("/__spritemap#sprite-phone-view") center center no-repeat;
  }
  &--email::before {
    mask: url("/__spritemap#sprite-mail-view") center center no-repeat;
  }
  &--adress::before {
    mask: url("/__spritemap#sprite-marker-stroke-view") center center no-repeat;
  }
}

.contacts__contacts-list-item-name {
  @include apply-styles($mobile-h6);
  font-weight: 600;
  margin: 0;
}

.contacts__contacts-link {
  color: $primary;
  text-decoration: none;
  @include apply-styles($mobile-text-regular);
  margin: 0;
  position: relative;
  transition: color 0.3s $smooth;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: 1px;
    background-color: $primary;
    left: -5px;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s $smooth;
    transform-origin: left;
  }

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: calc(100%);
    border: solid 1px $primary;
    left: -5px;
    top: 0;
    transform: scaleX(0);
    transition: transform 0.3s $smooth;
    transform-origin: left;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    transform: scaleX(1);
  }

  &:active {
    color: #0266c1;
  }

  &--disabled {
    color: $disabled;
    pointer-events: none;
    cursor: auto;
  }

  &:disabled {
    color: $disabled;
  }
}

@media #{$not-mobile} {
  .contacts {
    min-height: 681px;
    gap: 40px;
    padding: 0 0 40px;
  }

  .contacts__info-wrapper {
    gap: 40px;
    padding: 0 43px 0 45px;
    max-width: 768px;
  }

  .contacts__content-wrapper {
    p {
      @include apply-styles($tablet-text-regular);
      width: 480px;
    }
  }

  .contacts__contacts-list {
    flex-flow: wrap row;
    gap: 40px;
  }

  .contacts__contacts-list-item {
    min-height: 44px;
    gap: 6px;
    padding: 0 0 0 34px;

    &::before {
      width: 24px;
      height: 24px;
    }
  }

  .contacts__contacts-list-item-name {
    @include apply-styles($tablet-h6);
    font-weight: 600;
  }

  .contacts__contacts-link {
    @include apply-styles($tablet-text-small);
  }
}

@media #{$desktop-only} {
  .contacts {
    min-height: 422px;
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 100px;
    padding: 0 0 95px;
  }

  .contacts__info-wrapper {
    gap: 25px;
    padding: 20px 0 0 120px;
    max-width: 1440px;
  }

  .contacts__map-wrapper {
    margin: 49px 0 0;
  }

  .contacts__content-wrapper {
    p {
      @include apply-styles($desktop-text-regular);
      width: 500px;
    }
  }

  .contacts__contacts-list {
    flex-flow: wrap column;
    gap: 35px;
  }

  .contacts__contacts-list-item {
    min-height: 50px;
    gap: 8px;
    padding: 0 0 0 56px;

    &::before {
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 26px
    }
  }

  .contacts__contacts-list-item-name {
    @include apply-styles($desktop-h6);
    font-weight: 600;
  }

  .contacts__contacts-link {
    @include apply-styles($desktop-text-regular);
  }
}
