.socials {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.socials__link {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(45, 56, 63, 0.3);
  transition: border 0.3s $smooth, background 0.3s $smooth;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: $primary;
    transition: background 0.3s $smooth;
  }

  &:hover {
    border-color: $primary;
  }

  &:focus-visible {
    border-color: transparent;
    outline: none;
  }

  &:active {
    background-color: #0266c1;
    border-color: #0266c1;
  }

  &:active::before {
    background-color: $white;
  }

  &--disabled {
    opacity: 30%;
    pointer-events: none;
    cursor: auto;
  }

  &:disabled {
    opacity: 30%;
  }

  &--vk::before {
    mask: url("/__spritemap#sprite-vk-view") center center no-repeat;
  }

  &--ok::before {
    width: 9px;
    height: 16px;
    mask: url("/__spritemap#sprite-ok-view") center center no-repeat;
  }

  &--reddit::before {
    width: 14px;
    height: 15px;
    mask: url("/__spritemap#sprite-reddit-view") center center no-repeat;
  }
}

@media #{$not-mobile} {
  .socials {
    width: 100%;
    justify-content: center;
  }
}

@media #{$desktop-only} {
  .socials {
    gap: 15px;
  }
}
